[Unit]
Description=Slurm CPU job exporter for Prometheus
After=network.target

[Service]
Type=simple
User=prometheus_exporter
Group=prometheus_exporter
WorkingDirectory=/opt/slurm-job-exporter
ExecStart=/opt/slurm-job-exporter/venv/bin/python /opt/slurm-job-exporter/cpu-job-exporter.py
PIDFile=/var/run/slurm-job-exporter.pid
KillMode=process
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
